# .env.example

# Example environment variables for the project
# Add your environment variables below

# API_KEY=your_api_key_here
# SECRET_KEY=your_secret_key_here
# PORT=your_port_here
MAX_NUMBER_OF_PROJECT=10
MAX_NUMBER_OF_TASK=10

# Add more variables as needed
